.toolbar-content-off {
  text-align: center;
}

.toolbar-content-on {
  margin-left: 15px;
}

.icon-border {
  border-radius: 50%;
  background-color: #f7f7f7;
  padding: 10px;
}

.right-align {
  float: right;
  margin-right: 40px;
}